:root {
  --general-border-radios: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  background-color: blue;
  background: linear-gradient(blue, white 600px, white);
}

#wrapper {
  width: 960px;
  background-color: silver;
  border-radius: var(--general-border-radios);
  padding: 5px;
  margin: 5px auto 5px auto;
  background: linear-gradient(
    white 0px,
    rgb(127, 147, 158) 600px,
    rgb(127, 147, 158)
  );
  box-shadow: 5px 5px 5px black;
}

#header {
  background-color: lightseagreen;
  background: radial-gradient(
    circle,
    turquoise 0%,
    turquoise 13%,
    navy 30%,
    turquoise 80%,
    navy 100%
  );
  border-radius: var(--general-border-radios);
  align-items: center;
  justify-content: center;
  display: flex;
  height: 160px;
}

#header span {
  text-shadow: 5px 5px 5px lightgreen, -5px -5px 5px lightgreen,
    -5px 5px 5px lightgreen, 5px -5px 5px lightgreen;
  font-size: 73px;
  font-weight: 900;
}
